@import "../../vars.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 33px;
    font-family: var(--font-lora);
}

.description {
    font-size: 28px;
    margin-bottom: 52px;
}

.cvBtn {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-bg);
    border-style: solid;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 26px;
    margin-right: 60px;
    cursor: pointer;
}

.buttonsContainer {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.heroImg {
    width: 35%;
    z-index: 1;
}

.heroImgSmall {
    display: none;
}

.socialIcon {
    width: 46px;
    margin-right: 10px;
}

@media screen and (max-width: 830px) {

    .content {
        align-items: center;
        text-align: center;
    }

    .socialIcon {
        margin-top: 20px;
    }

    .heroImg {
        display: none;
    }

    .heroImgSmall {
        display: block;
        width: 70%;
        z-index: 1;
        margin-bottom: 30px;
    }

    .title {
        font-size: 38px;
    }

    .description {
        font-size: 22px;
    }

    .buttonsContainer {
        flex-direction: column;
        display: flex;
        justify-content: space-between;
    }
    .cvBtn {
        margin-bottom: 10px;
        margin-right: 20px;
    }
}
